/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a,p,h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
}

header{

    width: 100%;
    height: 100vh;
    background-color: #0b0b0b;
    background-image: url(../img/header-bg.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;

}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
}
.header-text>h1,h4{
    text-align: center;
    color: #fff;
    font-weight: 500;
}
.header-text h4{
    font-size: 1.5rem;
    margin-bottom: 4rem;
}
.header-text h1{
    font-size: 4rem;
    letter-spacing: 10px;
    word-spacing: 25px;
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
    opacity: 0;
    margin-left: 50%;
}
.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.works-header{
    width: 100%;
    height: 6rem;
    background-color: #b8cade;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.works-header h3{
    color: #fff;
    font-size: 2.5rem;
}
.woks-main{
    width: 76%;
    height: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.works-item{
    width: 48%;
    height: auto;
    margin-bottom: 40px;
    box-sizing: border-box;
}
#works-item__img-1{
    background-color: #f3d5e7;
}
#works-item__img-2{
    background-color: #e1eefaa4;
}
#works-item__img-3{
    background-color: #dadada;
}
#works-item__img-4{
    background-color: #f0f0f0;
}
#works-item__img-8{
    background-color: #cbdaec;
}
.works-item__img{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.works-item__img img{
    height: 80%;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: linear;
}
.works-item__img img:hover{
    transform: scale(1.3, 1.3);
    transform-origin: center center;
}
.works-item__text{
    margin-top: 20px;
}
.works-item__text h3{
    font-size: 2rem;
    margin-bottom: 10px;
}
footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(230, 230, 230);
}
footer p{
    font-size: 1.5rem;
}
footer p:first-child{
    margin-bottom: 20px;
}
.project{
    width: 100%;
    height: auto;
}
.project-header{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}
#project-1>.project-header{
    background-image: url(../img/animations/gif-1.gif);
}
#project-2>.project-header{
    background-image: url(../img/animations/gif-2.gif);
    background-size: auto;
}
#project-3>.project-header{
    background: url(../img/animations/gif-3.gif) right center no-repeat,
                url(../img/project-1-header-bg.png) left top repeat-x;
    background-size: contain;     
}
#project-4>.project-header{
    background: url(../img/project-4/main-photo.png) left top repeat-x;
}
.project-header__text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 60px;
    font-size: 1.5rem;
}
.project-header__text h1{
    font-size: 3rem;
    margin-bottom: 40px;
}
.project-main{
    width: 100%;
    height: auto; 
}
.project-main-item{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.project-main-item__header{
    width: 100%;
    padding: 70px;
    font-size: 1.7rem;
}
.project-main-item__main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* ================|Project 1|================ */
#project-1>.project-main{
    background: linear-gradient(to top, #b69ca5, #ffffff);
    color: rgb(122, 122, 122);
    padding-bottom: 50px;
}
#project-1 .project-main-item__main-text{
    width: 40%;
    padding: 10px;
}
#project-1 .project-main-item__main-img{
    width: 40%;
    display: flex;
    justify-content: center;
}
/* ================|Project 2|================ */
#project-2>.project-main{
    background: linear-gradient(to top, #cadae6, #8391ab);
    color: #fff;
}
#project-2>.project-main>.project-main-item:last-child>.project-main-item__main img{
    width: 100%;  
}